*{
    margin: 0;
    padding: 0;
   box-sizing: border-box;
    
}
.margin-left{
    margin-left: 280px;
}
.transparent-color{
    background-color:rgba(221, 221, 230, 0.062);
}
#home{
    display: flex;
    flex-direction: column;
    padding:3px 123px;
    height: 550px;
    width: 46%;
   justify-content: center;
    align-items: flex-start;
}

#home::before{ 
    content: "";
    position: absolute;
    background: url('../bg1.jpg') no-repeat center center/cover;
    height: 542px;
    top:0px;
    left:0px;
    width: 100%;
    z-index: -1;
    opacity:0.89;
}
.dropdown a{
    font-weight: 900;
}
.services{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.why-us{
    width: 100vw;
    background-color: rgba(78, 102, 182, 0.11);
}
.box-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
   
    align-items: center;
}
.boxes{
    margin: 12px;
}
.boxes h5{
    
    display: inline;
}
.boxes p{
   
    margin-left: 30px;
    margin-top: 14px;
}
.circles{
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
   
    align-items: center;
}

#circles-1{
 height: 300px;
    width: 300px;
    border: 2px solid;
    border-radius: 50%;
    background-color: rgb(0, 0, 0);
    
}
#circles-2{
    display: flex;
    flex-direction: column;
    justify-content: center;
   
    align-items: center;
    height: 300px;
    width: 300px;
    border: 2px solid;
    border-radius: 50%;
    background-color: aliceblue;
    position: relative;
    top: 23px;
    right: 258px;
    
}
#circles-3{
    height: 70px;
    width: 70px;
    border: 2px solid;
    border-radius: 50%;
    background-color: rgb(0, 0, 0);
    position: relative;
 
    top: -126px;
    right: 172px;
}
#circles-4{
    height: 50px;
    width: 50px;
    border: 2px solid;
    border-radius: 50%;
    background-color: rgb(0, 0, 0);
    position: relative;
    top: -14px;
    right: 168px;

    
}
.text-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
   
    align-items: center;
}
.text-head{
    color: black;
}
.text-para{
    color: rgb(255, 250, 250);
}
.btn{
    border: 1px solid black;
}
.font-10{
    font-size: 105px;
}
.years-font{
    font-size: 25px;
}
@media screen and (max-width: 347px) {
   
    .margin-left{
        margin-left: 0px;
    }
    .box-container{
        display: block;
    }
    #circles-2{
        top: -208px;
    right: -21px;
    height: 230px;
    width: 230px;
    }
    #circles-1{
    
    height: 230px;
    width: 230px;
    }
    #circles-3 {
        height: 35px;
        width: 35px;
        top: -506px;
    right: -210px;

    }
    

#circles-4 {
    height: 20px;
    width: 20px;
    top: -496px;
    right: -219px;
}
    
    .font-10{
        font-size: 50px;
    }
    .years-font{
        font-size: 19px;
    }
    .text-head{
        color: black;
        font-size: 20px;
    }
    .text-para{

        font-size: 25px;
    }
}
@media screen and (max-width: 1025px) {
    #home{
        width: 100%;
        padding:0px;
    }
    .circles{
        flex-direction: column;
    }

    .box-container{
        display: block;
    }
    #circles-2{
        top: -259px;
        right: -42px;
        height: 270px;
        width: 270px;
    }
    #circles-1{
    
    height: 270px;
    width: 270px;
    }
    #circles-3 {
        height: 35px;
        width: 35px;
        top: -543px;
        right: -304px;

    }
    

#circles-4 {
    height: 20px;
    width: 20px;
    top: -496px;
    right: -358px;
}

}
